/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 feb. 2021, 13:42:15
    Author     : Sammy Guergachi <sguergachi at gmail.com>
*/

.root {
    -fx-base: #FFA648;
    -fx-accent: #FFE3D0 ;
    -fx-default-button: #7f878f ;
    -fx-focus-color: #FF6600;
    -fx-faint-focus-color: #efefef22;
}

.button{
    -fx-background-color: transparent;
    -fx-background-radius:10px;
}

.button:hover{
    -fx-background-color: #FF6600, #FF6600, -fx-inner-border;
    -fx-color: -fx-hover-base;
}

.table-row-cell:odd {
    -fx-base: #A86C31;
    -fx-accent: #FFE3D0 ;
}

ToolBar{
     -fx-base: #7C4F22;
     -fx-background-radius:10px;
}