/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 feb. 2021, 12:02:07
    Author     : diego
*/

GridPane{
    -fx-background-color:#4F493F;
     -fx-base: #4F493F;
    -fx-accent: #FFE3D0 ;
    -fx-default-button: #7f878f ;
    -fx-focus-color: #FF6600;
    -fx-faint-focus-color: #efefef22;
}   

BorderPane{
    -fx-background-color:#FFA648;
}

.label{
    -fx-text-fill:white;
}

.button{
    -fx-font-weight: bold;
    -fx-background-color:#FFFFFF;
    -fx-background-radius:22;
    -fx-font-size:16;
    -fx-text-fill:#3f474f;
}

.button:hover{
    -fx-font-weight: bold;
    -fx-background-color:#CB9766;
    -fx-background-radius:22;
    -fx-font-size:16;
    -fx-text-fill:#FFFFFF;
}
         